body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: #A2CB8B;
}

header, footer {
  padding: 16px;
  background: #33442f;
  color: white;
  text-align: center;
}

main, section {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}